@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --dark-bg: bg-gray-900;
}

@layer utilities {
  .downover .downoverchild {
    scale: 0;

  }
  .downover:hover .downoverchild {
    scale: 1;

  }
  .text-balance {
    text-wrap: balance;
  }
  .parentShadow {
    width: 100%;
  }

  .parentShadow.active .shadow {
    background-color: #222;
    box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
      inset 0 8px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 8px rgba(0, 0, 0, 0.1);
  }
  .parentShadow .shadow {
    background-color: gray;
    box-shadow: inset 0 2px 60px rgba(0, 0, 0, 0.1),
      inset 0 2px 8px rgba(0, 0, 0, 0.1), inset 0 -4px -4px rgba(0, 0, 0, 0.1);
  }
  .parentShadow.active .childShadow {
    background: linear-gradient(to bottom, #444, #222);
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
      inset 0 4px 4px rgba(255, 255, 255, 0.2),
      inset 0 -4px 4px rgba(255, 255, 255, 0.2);
    cursor: pointer;
    left: 40px;
    transition: 0.5s;
  }
  .parentShadow .childShadow {
    background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1),
      inset 0 4px 4px rgba(255, 255, 255, 1),
      inset 0 -4px 4px rgba(255, 255, 255, 1);
    cursor: pointer;
    left: 4px;
    transition: 0.5s;
  }
  .loader {
    display: flex;
    animation: loaderani 1s linear infinite;
  }
  @keyframes loaderani {
    0% {
      transform: rotate(0deg);
      scale: 0.75;
    }
    75% {
      scale: 1.5;
    }
    100% {
      transform: rotate(360deg);
      scale: 0.75;
    }
  }
}
